@use "global" as *;

.info-wrapper {
  position: relative;
  margin-bottom: vw(strip-unit($sp), 54);
  max-width: vw(strip-unit($sp), 343);

  @media screen and (min-width: $tab) {
    max-width: vw(strip-unit($pc), 866);
    margin: vw(strip-unit($pc), 80) auto;
  }

  .info-box {
    width: 100%;
    height: auto;

    .info-content {
      display: flex;
      justify-content: space-between;

      .info-box--left {
        width: vw(strip-unit($sp), 80);
        height: auto;
        font-weight: 700;
        font-size: rem(13);
        line-height: rem(18);

        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 200);
          height: auto;
          font-size: rem(16);
          line-height: rem(28);
          padding-top: vw(strip-unit($pc), 2);
          padding-left: vw(strip-unit($pc), 40);
        }
      }

      .info-box--right {
        width: vw(strip-unit($sp), 263);
        padding-left: vw(strip-unit($sp), 15);
        @media screen and (min-width: $tab) {
          padding-left: vw(strip-unit($pc), 60);
        }

        p {
          font-weight: 400;
          font-size: rem(13);
          line-height: rem(17.71);

          @media screen and (min-width: $tab) {
            font-size: rem(16);
            line-height: rem(28);
          }
        }
      }

      .info-box-right-side-by-side {
        @media screen and (min-width: $tab) {
          display: flex;
        }
      }
    }

    .info-bottom-dashed {
      display: flex;
      justify-content: space-between;
      margin-top: vw(strip-unit($sp), 19);

      @media screen and (min-width: $tab) {
        margin-top: vw(strip-unit($pc), 41);
      }

      &--primary {
        width: vw(strip-unit($sp), 80);
        height: vh(strip-unit($sp), 2);

        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 200);
          height: vh(strip-unit($pc), 2);
        }

        & > source,
        & > img {
          display: block;
        }
      }

      &--tertiary {
        width: vw(strip-unit($sp), 263);
        height: vh(strip-unit($sp), 2);

        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 664);
          height: vh(strip-unit($pc), 2);
        }

        & > source,
        & > img {
          display: block;
        }
      }
    }
  }
}

.info-box + .info-box {
  margin-top: vw(strip-unit($sp), 19);
  @media screen and (min-width: $tab) {
    margin-top: vw(strip-unit($pc), 39);
  }
}
