@use "global" as *;

// セクションごとのタイトル共通部
.section-title {
  &__inner {
    width: 100%;
    position: relative;

    // 先頭丸部分
    &__circle {
      position: absolute;
      width: vw(strip-unit($sp), 84);
      height: vh(strip-unit($sp), 84);
      background-color: $primary-color;
      border-radius: 50%;
      z-index: -1;

      @media screen and (min-width: $tab) {
        width: vw(strip-unit($pc), 130);
        height: vh(strip-unit($pc), 130);
      }
    }

    // 表題
    &__main-text {
      line-height: rem(87);
      font-weight: 700;
      color: $primary-color;

      // 1文字目
      &::first-letter {
        color: $secondary-color;
      }
    }

    // 副題
    &__sub-text {
      width: 100%;

      & > h2 {
        font-weight: 700;
        font-size: rem(18);
        line-height: rem(25);
        position: relative;
        color: $txt-color;

        &::before {
          position: relative;
          content: "";
          display: inline-block;
          font-size: rem(18);
          width: vw(strip-unit($sp), 10);
          height: vh(strip-unit($sp), 10);
          background-color: $primary-color;
          border-radius: 50%;
          margin-right: vw(strip-unit($sp), 10);
          margin-bottom: vw(strip-unit($sp), 2);
        }
      }
    }
  }
}
