@use "global" as *;

#voice {
  position: relative;
  margin-top: vw(strip-unit($sp), 100);
  padding-top: vw(strip-unit($sp), 13);

  @media screen and (min-width: $tab) {
    margin-top: vw(strip-unit($sp), -30);
  }

  // ボタン
  .voice__btn {
    width: vw(strip-unit($sp), 249);
    height: vh(strip-unit($sp), 80);
    margin: vw(strip-unit($sp), 81) 0 vw(strip-unit($sp), 80)
      vw(strip-unit($sp), 75);

    @media screen and (min-width: $tab) {
      width: vw(strip-unit($pc), 412);
      height: vh(strip-unit($pc), 132);
      margin: vw(strip-unit($pc), 80) auto 0 auto;
    }

    .entry-btn {
      margin: 0 auto;
    }
  }

  // タイトル画像
  .voice-title--img {
    width: vw(strip-unit($sp), 224.62);
    height: vh(strip-unit($sp), 118.21);
    position: absolute;
    top: vw(strip-unit($sp), -47);
    left: vw(strip-unit($sp), 16);

    @media screen and (min-width: $tab) {
      width: vw(strip-unit($pc), 402.51);
      height: vh(strip-unit($pc), 211.82);
      top: vw(strip-unit($pc), -52);
      left: vw(strip-unit($pc), 159.06);
    }
  }

  .voice__inner {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    overflow: hidden;

    @media screen and (min-width: $tab) {
      padding-top: vw(strip-unit($pc), 0);
      padding-bottom: vw(strip-unit($pc), 66);
      overflow: hidden;
    }

    // SP版スライドショー
    .slider-voice-sp {
      width: 100%;
      padding: 0 rem(44);

      @media screen and (min-width: $tab) {
        display: none;
      }

      .swiper-area {
        position: relative;
      }

      .swiper-slide {
        width: vw(strip-unit($sp), 287);
        height: vh(strip-unit($sp), 349);
        aspect-ratio: aspect(
          vw(strip-unit($sp), 287),
          vh(strip-unit($sp), 349)
        );
      }

      .swiper-slide img {
        width: 100%;
        height: 100%;
        display: block;
        height: 100%;
        margin: auto;
        object-fit: contain;
      }

      .swiper-button-prev,
      .swiper-button-next {
        width: vw(strip-unit($sp), 24);
        height: vh(strip-unit($sp), 24);
        transform: translateY(12%);
        img {
          width: 100%;
          height: 100%;
        }
        &::after {
          display: none;
        }
      }

      .swiper-button-prev {
        left: vw(strip-unit($sp), -28.5);
      }

      .swiper-button-next {
        right: vw(strip-unit($sp), -28.5);
      }
    }

    // PC版スライドショー
    .slider-voice-pc .swiper-area .swiper-wrapper {
      transition-timing-function: linear !important;
    }

    .slider-voice-pc {
      display: none;
      @media screen and (min-width: $tab) {
        display: block;
      }
      .swiper-area {
        .swiper.swiperVoice-pc {
          .swiper-slide {
            width: vw(strip-unit($pc), 499);
            height: vh(strip-unit($pc), 521.22);
            display: flex;
            .swiperVoice-pc__img-1,
            .swiperVoice-pc__img-2 {
              display: block;
            }
            .swiperVoice-pc__img-1 {
              width: vw(strip-unit($pc), 249.06);
              height: vh(strip-unit($pc), 281);
            }
            .swiperVoice-pc__img-2 {
              margin-top: vw(strip-unit($pc), 220.1);
              margin-left: vw(strip-unit($pc), -82);
              width: vw(strip-unit($pc), 328.94);
              height: vh(strip-unit($pc), 301.11);
            }
          }
        }
      }
    }

    // 背景文字
    .voice-title--text--top,
    .voice-title--text--bottom {
      width: fit-content;
      font-weight: 700;
      font-size: rem(50);
      line-height: rem(72);
      letter-spacing: rem(5);
      color: $secondary-color;
    }

    .voice-title--text--top {
      margin: vw(strip-unit($sp), 25.1) vw(strip-unit($sp), -3) 0 auto;
      @media screen and (min-width: $tab) {
        font-size: rem(120);
        line-height: rem(163);
        letter-spacing: rem(12);
        margin: 0 vw(strip-unit($pc), -12) 0 auto;
        z-index: -1;
      }
    }

    .voice-title--text--bottom {
      transform: matrix(1, 0, 0, -1, 0, 0);
      margin-left: vw(strip-unit($sp), 3);
      margin-right: auto;
      margin-top: vw(strip-unit($sp), 7.79);
      @media screen and (min-width: $tab) {
        display: none;
      }
    }
  }
}
