@use "global"as *;

.entry-btn-pc-no-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: vw(strip-unit($pc), 400);
  height: vh(strip-unit($pc), 120);
  background-color: $primary-color;
  text-align: center;
  color: $secondary-color;
  font-size: rem(24);
  font-weight: 700;
  letter-spacing: rem(2.4);
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    background-image: url('../img/Entry_Btn_Arrow.svg');
    background-size: contain;
    width: vw(strip-unit($pc), 20);
    height: vh(strip-unit($pc), 17);
    margin-left: rem(22);
  }
}

.entry-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: vw(strip-unit($sp), 237);
  height: vh(strip-unit($sp), 68);
  background-color: $primary-color;
  text-align: center;
  color: $secondary-color;
  font-size: rem(16);
  font-weight: 700;
  cursor: pointer;
  position: relative;
  border: rem(1) solid #333333;
  box-shadow: rem(-12) rem(12) #F4F4F4, rem(-12) rem(12) 0 rem(1) black;

  @media screen and (min-width: $tab) {
    font-size: rem(24);
    width: vw(strip-unit($pc), 400);
    height: vh(strip-unit($pc), 120);
    border: rem(1) solid #333333;
    box-shadow: rem(-12) rem(12) #F4F4F4, rem(-12) rem(12) 0 rem(1) black;
  }

  &::after {
    content: '';
    display: inline-block;
    background-image: url('../img/Entry_Btn_Arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: vw(strip-unit($sp), 15);
    height: vh(strip-unit($sp), 13);
    margin-top: vw(strip-unit($sp), 3);
    margin-left: vw(strip-unit($sp), 15);


    @media screen and (min-width: $tab) {
      width: vw(strip-unit($pc), 20);
      height: vh(strip-unit($pc), 17);
      margin-left: vh(strip-unit($pc), 44.5);
    }
  }
}