@use "global"as *;

// セクション全体
#business {
  position: relative;
  margin-top: vw(strip-unit($sp), 80);
  overflow: hidden;

  @media screen and (min-width: $tab) {
    margin-top: vw(strip-unit($pc), 160);
  }

  background-color: #F4F4F4;
  z-index: -5;
}

// 背景線
.background-line-1,
.background-line-2 {
  position: absolute;
  width: vw(strip-unit($sp), 375.05);
  height: vh(strip-unit($sp), 255.38);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;

  @media screen and (min-width: $tab) {
    width: vw(strip-unit($pc), 1364.94);
    height: vh(strip-unit($pc), 688.03);
  }
}

.background-line-1 {
  background-image: url("../img/curve-line-1.svg");
  top: vw(strip-unit($sp), 101);

  @media screen and (min-width: $tab) {
    background-image: url("../img/curve-line-1-pc.svg");
    top: vw(strip-unit($pc), 105);
  }
}

.background-line-2 {
  background-image: url("../img/curve-line-2.svg");

  @media screen and (min-width: $tab) {
    background-image: url("../img/curve-line-2-pc.svg");
    top: vw(strip-unit($pc), 795);
  }
}

//タイトル非共通部分
.business-title {
  @media screen and (min-width: $tab) {
    z-index: 10;
    display: flex;
    top: vw(strip-unit($pc), -75);
    left: vw(strip-unit($pc), 256);
  }

  &__inner {
    @media screen and (min-width: $tab) {
      margin-right: vw(strip-unit($pc), 109);
    }

    &__circle {
      top: 0;
      left: 0;
    }

    // 表題
    &__main-text {
      font-size: rem(70);
      letter-spacing: rem(7);
      margin-left: rem(20);

      @media screen and (min-width: $tab) {
        font-size: rem(100);
        line-height: rem(145);
        letter-spacing: rem(10);
        margin-left: vw(strip-unit($pc), 32);
      }
    }

    &__sub-text {
      margin-top: vw(strip-unit($sp), 9);
      margin-bottom: vw(strip-unit($sp), 40);

      &>h2 {
        @media screen and (min-width: $tab) {
          font-size: rem(24);
          line-height: rem(33);

          &::before {
            @media screen and (min-width: $tab) {
              font-size: rem(24);
              width: vw(strip-unit($pc), 13);
              height: vh(strip-unit($pc), 13);
              margin-right: vw(strip-unit($pc), 10.31);
              margin-bottom: vw(strip-unit($pc), 2);
            }
          }
        }
      }
    }
  }
}

.business__inner {
  max-width: vw(strip-unit($sp), 343);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: vw(strip-unit($sp), 80) 0;

  @media screen and (min-width: $tab) {
    max-width: vw(strip-unit($pc), 1027);
    position: relative;
    padding: vw(strip-unit($pc), 120) 0;
  }

  .media-wrapper {
    .media {
      @media screen and (min-width: $tab) {
        height: vh(strip-unit($pc), 334);
        margin-bottom: vw(strip-unit($pc), 80);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: vw(strip-unit($pc), 40) vw(strip-unit($pc), 69);
        grid-template-areas:
          "media__img media__title"
          "media__img media__text";

        &:nth-child(even) {
          grid-template-areas:
            "media__title media__img "
            "media__text media__img ";
        }
      }

      &__title {
        @media screen and (min-width: $tab) {
          align-self: end;
        }

        &::before {
          @media screen and (min-width: $tab) {
            width: vw(strip-unit($pc), 13);
            height: vh(strip-unit($pc), 13);
            margin-right: vw(strip-unit($pc), 10);
            margin-bottom: vw(strip-unit($pc), 4);
          }
        }
      }

      &__img {
        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 445);
          height: vh(strip-unit($pc), 334);
        }
      }

      &__text {
        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 512);
        }
      }
    }
  }
}