@use "global"as *;

#color {
  margin-top: vw(strip-unit($sp), 30);

  .color__inner {
    max-width: vw(strip-unit($sp), 343);
    margin: 0 auto;

    @media screen and (min-width: $tab) {
      max-width: vw(strip-unit($pc), 1027);
      margin-top: vw(strip-unit($pc), 80);
    }

    // タイトル非共通部
    .color-title {
      margin-bottom: vw(strip-unit($sp), 40);

      @media screen and (min-width: $tab) {
        margin-bottom: vw(strip-unit($pc), 80);
      }

      &__inner {
        &__circle {
          background-color: transparent;
          border: rem(1) solid $primary-color;
        }

        &__main-text {
          font-size: rem(60);
          letter-spacing: rem(7);
          line-height: rem(86.88);
          margin-left: vw(strip-unit($sp), 24);

          @media screen and (min-width: $tab) {
            font-size: rem(100);
            letter-spacing: rem(10);
            line-height: rem(144.8);
            margin-left: vw(strip-unit($pc), 44);
          }

          &::first-letter {
            color: $primary-color;
          }
        }
      }

      &__inner__sub-text {
        margin-top: vw(strip-unit($sp), 20);

        @media screen and (min-width: $tab) {
          margin-top: vw(strip-unit($pc), 20);
        }


        h2 {
          font-weight: 700;
          font-size: rem(18);
          line-height: rem(25);

          @media screen and (min-width: $tab) {
            font-size: rem(24);
            line-height: rem(32.69);

            &::before {
              @media screen and (min-width: $tab) {
                font-size: rem(24);
                width: vw(strip-unit($pc), 13);
                height: vh(strip-unit($pc), 13);
                margin-right: vw(strip-unit($pc), 10.31);
                margin-bottom: vw(strip-unit($pc), 2);
              }
            }
          }
        }
      }
    }

    .media-wrapper {
      @media screen and (min-width: $tab) {
        width: 100%;
        height: vh(strip-unit($pc), 1716);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        column-gap: vw(strip-unit($pc), 61);
        position: relative;
      }

      .color-media-wrapper-pc-centerline {
        @media screen and (min-width: $tab) {
          position: absolute;
          top: -5%;
          left: 50%;
          width: vw(strip-unit($pc), 1);
          height: vh(strip-unit($pc), 1716);
          background-color: $primary-color;
        }
      }

      .color-pc-display--1 {
        order: 1;
      }

      .color-pc-display--2 {
        order: 2;

        @media screen and (min-width: $tab) {
          margin-bottom: vw(strip-unit($pc), 200);
        }
      }

      .color-pc-display--3 {
        order: 3;
      }

      .color-pc-display--4 {
        order: 4;
      }

      .color-pc-display--5 {
        order: 5;
      }

      .color-pc-display--6 {
        order: 6;
      }

      .media,
      .media-no-img {
        margin-bottom: 0;
        gap: 0;

        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 473);
        }

        &__title {
          & span {
            font-size: rem(16);
            line-height: rem(32.69);

            @media screen and (min-width: $tab) {}
          }

          &::before {
            @media screen and (min-width: $tab) {
              width: vw(strip-unit($pc), 13);
              height: vh(strip-unit($pc), 13);
              margin-right: vw(strip-unit($pc), 10);
              margin-bottom: vw(strip-unit($pc), 4);
            }
          }
        }

        &__text {
          margin-top: vw(strip-unit($sp), 40);

          @media screen and (min-width: $tab) {
            margin-top: vw(strip-unit($pc), 40);
            font-weight: 400;
            font-size: rem(16);
            line-height: rem(28);
          }
        }

        // メディア下線
        &__bottom-line {
          width: 100%;
          height: vh(strip-unit($sp), 1);
          margin-top: vw(strip-unit($sp), 40);
          margin-bottom: vw(strip-unit($sp), 40);
          background-color: $primary-color;

          @media screen and (min-width: $tab) {
            width: vw(strip-unit($pc), 493);
            height: vh(strip-unit($pc), 1);
            margin-top: vw(strip-unit($pc), 40);
            margin-bottom: vw(strip-unit($pc), 40);
            background-color: $primary-color;
          }
        }

      }

      .media {
        &__img {
          margin-top: vw(strip-unit($sp), 40);

          @media screen and (min-width: $tab) {
            margin-top: vw(strip-unit($pc), 40);
            width: vw(strip-unit($pc), 473);
            height: vh(strip-unit($pc), 375);

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    // ボタン
    &__btn {
      margin-top: vw(strip-unit($sp), 80);
      margin-bottom: vw(strip-unit($sp), 92);

      @media screen and (min-width: $tab) {
        margin-top: vw(strip-unit($pc), 40);
        margin-bottom: vw(strip-unit($pc), 160);
      }

      .entry-btn {
        margin: 0 auto;
      }
    }
  }
}