@use "global" as *;

#flow {
  position: relative;
  overflow: hidden;
  @media screen and (min-width: $tab) {
    padding-bottom: vw(strip-unit($pc), 160);
  }
  .flow-bg-line {
    display: none;
    @media screen and (min-width: $tab) {
      display: block;
      position: absolute;
      top: vw(strip-unit($pc), 150.97);
      width: vw(strip-unit($pc), 1394.94);
      height: vh(strip-unit($pc), 688.03);
    }
  }
  .flow__inner {
    max-width: vw(strip-unit($sp), 343);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @media screen and (min-width: $tab) {
      max-width: vw(strip-unit($pc), 1026);
      margin: 0 auto;
      display: flex;
    }

    .pickup-title {
      @media screen and (min-width: $tab) {
        z-index: 10;
        top: vw(strip-unit($pc), -75);
        left: vw(strip-unit($pc), 256);
        width: vw(strip-unit($pc), 171);
        height: fit-content;
        margin-top: 0;
        margin-right: vw(strip-unit($pc), 57);
        display: flex;
      }
      &__inner {
        &__main-text {
          margin-left: vw(strip-unit($sp), 23);
          font-weight: 700;
          font-size: rem(60);
          line-height: rem(87);
          letter-spacing: rem(7);
          span {
            color: $secondary-color;
            line-height: rem(87);
            letter-spacing: rem(7);
            @media screen and (min-width: $tab) {
              color: $primary-color;
              letter-spacing: rem(10);
            }
          }
          @media screen and (min-width: $tab) {
            font-size: rem(100);
            line-height: rem(136.2);
            letter-spacing: rem(10);
            margin-top: vw(strip-unit($pc), 55);
            margin-left: vw(strip-unit($pc), -5);
            writing-mode: vertical-lr;
          }
        }
      }
      &__inner__sub-text {
        margin-top: vw(strip-unit($sp), 20);
        margin-bottom: vw(strip-unit($sp), 40);
        @media screen and (min-width: $tab) {
          text-align: right;
          margin-top: 0;
          margin-bottom: 0;
          writing-mode: vertical-rl;
        }

        h2 {
          @media screen and (min-width: $tab) {
            font-size: rem(16);
            line-height: rem(23.17);
            letter-spacing: rem(1.5);
            &::before {
              @media screen and (min-width: $tab) {
                font-size: rem(16);
                width: vw(strip-unit($pc), 13);
                height: vh(strip-unit($pc), 13);
                margin-right: vw(strip-unit($pc), -3);
                margin-bottom: vw(strip-unit($pc), 10);
              }
            }
          }
        }
      }
    }

    .flow-chert {
      position: relative;
      @media screen and (min-width: $tab) {
        margin-top: 0;
      }

      &_line {
        position: absolute;
        width: vw(strip-unit($sp), 2);
        height: vh(strip-unit($sp), 771);
        background-color: $primary-color;
        top: vw(strip-unit($sp), 46);
        left: vw(strip-unit($sp), 22.5);
        z-index: -1;
        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 2);
          height: vh(strip-unit($pc), 998);
          background-color: $primary-color;
          top: vw(strip-unit($pc), 97);
          left: vw(strip-unit($pc), 48);
        }
      }
      .flow-chert__content + .flow-chert__content {
        margin-top: vw(strip-unit($sp), 40);
        @media screen and (min-width: $tab) {
          margin-top: vw(strip-unit($pc), 80);
        }
      }
      &__content {
        display: flex;

        &__left {
          margin-right: vw(strip-unit($sp), 20);
          @media screen and (min-width: $tab) {
            margin-right: vw(strip-unit($pc), 111);
          }
          &__circle {
            width: vw(strip-unit($sp), 46);
            height: vh(strip-unit($sp), 46);
            position: relative;
            p {
              font-weight: 700;
              font-size: rem(18);
              line-height: rem(25);
              color: $primary-color;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @media screen and (min-width: $tab) {
                font-size: rem(40);
                line-height: rem(54);
                letter-spacing: rem(4);
              }
            }
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
            @media screen and (min-width: $tab) {
              width: vw(strip-unit($pc), 100);
              height: vh(strip-unit($pc), 100);
            }
          }
        }
        &__right {
          &__title {
            font-weight: 700;
            font-size: rem(18);
            line-height: rem(25);
            position: relative;
            display: inline-block;
            @media screen and (min-width: $tab) {
              font-size: rem(24);
              line-height: rem(33);
            }
            &::after {
              content: "";
              position: absolute;
              display: inline-block;
              top: 50%;
              transform: translateY(-50%);
              width: vw(strip-unit($sp), 32);
              height: vh(strip-unit($sp), 1);
              margin-left: vw(strip-unit($sp), 10);
              background-color: #08253e;
              @media screen and (min-width: $tab) {
                width: vw(strip-unit($pc), 32);
                height: vh(strip-unit($pc), 1);
                margin-left: vw(strip-unit($pc), 14.58);
              }
            }
          }
          &__text {
            margin-top: vw(strip-unit($sp), 20);
            font-weight: 400;
            font-size: rem(16);
            line-height: rem(28);
            @media screen and (min-width: $tab) {
              margin-top: vw(strip-unit($pc), 40);
              font-size: rem(16);
              line-height: rem(28);
            }
          }
        }
      }
    }
  }

  .flow-img {
    max-width: vw(strip-unit($sp), 343);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: vw(strip-unit($sp), 40);
    @media screen and (min-width: $tab) {
      position: absolute;
      width: vw(strip-unit($pc), 316.36);
      height: vh(strip-unit($pc), 241.34);
      bottom: vw(strip-unit($pc), 77.66);
      right: vw(strip-unit($pc), 135.64);
    }
  }
}
