@use "global"as *;

.info-wrapper {
  position: relative;
  margin: vw(strip-unit($sp), 40) auto;

  @media screen and (min-width: $tab) {
    max-width: vw(strip-unit($pc), 866);
    margin: vw(strip-unit($pc), 80) auto
  }

  .info-box {
    width: 100%;
    height: auto;

    .info-content {
      display: flex;

      .info-box--left {
        width: vw(strip-unit($sp), 80);
        height: auto;
        font-weight: 700;
        font-size: rem(13);
        line-height: rem(18);

        @media screen and (min-width: $tab) {
          font-size: rem(16);
          line-height: rem(28);
          padding-left: vw(strip-unit($pc), 40);
        }
      }

      .info-box--right {
        width: vw(strip-unit($sp), 263);
        padding-left: vw(strip-unit($sp), 15);

        p {
          font-weight: 400;
          font-size: rem(13);
          line-height: rem(18);

          @media screen and (min-width: $tab) {
            font-size: rem(16);
            line-height: rem(28);
          }
        }
      }
    }

    .info-bottom-dashed {
      display: flex;
      margin: vw(strip-unit($sp), 20) auto;

      @media screen and (min-width: $tab) {
        margin: vw(strip-unit($pc), 40) auto;
      }

      &--primary {
        width: vw(strip-unit($sp), 80);
        height: vh(strip-unit($sp), 2);

        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 200);
          height: vh(strip-unit($pc), 1);
        }

        &>source,
        &>img {
          display: block;
        }
      }

      &--tertiary {
        width: vw(strip-unit($sp), 263);
        height: vh(strip-unit($sp), 2);

        @media screen and (min-width: $tab) {
          width: vw(strip-unit($pc), 664);
          height: vh(strip-unit($pc), 1);
        }

        &>source,
        &>img {
          display: block;
        }
      }
    }
  }
}