@use "global"as *;

#pickup {
  position: relative;
  padding-bottom: vw(strip-unit($sp), 91.96);

  @media screen and (min-width: $tab) {
    max-width: vw(strip-unit($pc), 1226);
    margin: 0 auto;
    padding-bottom: 0;
  }

  .pickup__inner {
    position: relative;
    max-width: vw(strip-unit($sp), 343);
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &--top {
      @media screen and (min-width: $tab) {
        max-width: vw(strip-unit($pc), 1026);
        margin: 0 auto;
        display: flex;
      }
    }

    // Section Title
    .pickup-title {
      @media screen and (min-width: $tab) {
        z-index: 10;
        top: vw(strip-unit($pc), -75);
        left: vw(strip-unit($pc), 256);
        width: vw(strip-unit($pc), 171);
        height: vh(strip-unit($pc), 494);
        margin-top: vw(strip-unit($pc), 17);
        display: flex;

      }

      &__inner {

        &__main-text {
          font-size: rem(70);
          letter-spacing: rem(7);
          margin-left: vw(strip-unit($sp), 24);

          @media screen and (min-width: $tab) {
            font-size: rem(100);
            line-height: rem(136.2);
            letter-spacing: rem(10);
            margin-top: vw(strip-unit($pc), 45);
            margin-left: vw(strip-unit($pc), -5);
            writing-mode: vertical-lr;
          }
        }
      }

      &__inner__sub-text {
        margin-top: vw(strip-unit($sp), 9);
        margin-bottom: vw(strip-unit($sp), 40);

        @media screen and (min-width: $tab) {
          text-align: right;
          margin-top: 0;
          margin-bottom: 0;
          writing-mode: vertical-rl;
        }

        h2 {
          @media screen and (min-width: $tab) {
            font-size: rem(16);
            line-height: rem(23.17);
            letter-spacing: rem(1.5);

            &::before {
              @media screen and (min-width: $tab) {
                font-size: rem(16);
                width: vw(strip-unit($pc), 13);
                height: vh(strip-unit($pc), 13);
                margin-right: vw(strip-unit($pc), -3);
                margin-bottom: vw(strip-unit($pc), 10);
              }
            }
          }
        }
      }
    }

    // Youtube
    .youtube {
      width: 100%;
      aspect-ratio: 16 / 9;
      margin-bottom: vw(strip-unit($sp), 40);

      @media screen and (min-width: $tab) {
        width: vw(strip-unit($pc), 800);
        margin-left: vw(strip-unit($pc), 55);
      }

      & iframe {
        width: 100%;
        height: 100%;
      }
    }

    // EntryBtn
    &__btn {
      margin-bottom: vw(strip-unit($sp), 40);

      button {
        margin: 0 auto;
      }
    }
  }
}

// Top Line
.pickup__top-line-wrapper {
  margin: vw(strip-unit($sp), 40) 0 vw(strip-unit($sp), 40) auto;
  width: vw(strip-unit($sp), 150);
  height: vh(strip-unit($sp), 11);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;

  @media screen and (min-width: $tab) {
    margin: vw(strip-unit($pc), 80) 0 vw(strip-unit($pc), 80) auto;
    width: vw(strip-unit($pc), 300);
    height: vh(strip-unit($pc), 21);
  }


  .top-line-wrapper__line--1,
  .top-line-wrapper__line--2 {
    background-color: $primary-color;
  }

  .top-line-wrapper__line--1 {
    width: vw(strip-unit($sp), 100);
    height: vh(strip-unit($sp), 1);

    @media screen and (min-width: $tab) {
      width: vw(strip-unit($pc), 200);
      height: vh(strip-unit($pc), 1);
    }
  }

  .top-line-wrapper__line--2 {
    width: vw(strip-unit($sp), 150);
    height: vh(strip-unit($sp), 1);

    @media screen and (min-width: $tab) {
      width: vw(strip-unit($pc), 300);
      height: vh(strip-unit($pc), 1);
    }
  }
}

// Bottom Line
.pickup__bottom-line-wrapper {
  width: vw(strip-unit($sp), 150);
  height: vh(strip-unit($sp), 11);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (min-width: $tab) {
    width: vw(strip-unit($pc), 300);
    height: vh(strip-unit($pc), 21);
  }

  .bottom-line-wrapper__line--1,
  .bottom-line-wrapper__line--2 {
    background-color: $primary-color;
  }

  .bottom-line-wrapper__line--1 {
    width: vw(strip-unit($sp), 150);
    height: vh(strip-unit($sp), 1);

    @media screen and (min-width: $tab) {
      width: vw(strip-unit($pc), 300);
      height: vh(strip-unit($pc), 1);
    }
  }

  .bottom-line-wrapper__line--2 {
    width: vw(strip-unit($sp), 100);
    height: vh(strip-unit($sp), 1);

    @media screen and (min-width: $tab) {
      width: vw(strip-unit($pc), 200);
      height: vh(strip-unit($pc), 1);
    }
  }
}

// Logo
.pickup--logo {
  position: absolute;
  bottom: 0;
  right: vw(strip-unit($sp), 1.39);
  width: vw(strip-unit($sp), 65.11);
  height: vh(strip-unit($sp), 56.7);
  overflow: hidden;

  @media screen and (min-width: $tab) {
    width: vw(strip-unit($pc), 147);
    height: vh(strip-unit($pc), 128);
    top: vw(strip-unit($pc), 550);
  }

  img {
    width: 100%;
    height: 100%;
    transform: rotate(-22deg);
  }
}